<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot_description)/robots/kobuki_hexagons_asus_xtion_pro.urdf.xacro" /> -->
    
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
        
    <!-- BEGIN ROBOT 1 -->
    <group ns="tb3_0">
        <param name="tf_prefix" value="tb3_0" />
        <include file="$(find tfg)/launch/one_robot.launch" >
            <arg name="init_pose" value="-x -7.0 -y -1.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />
            <!-- <arg name="init_pose" value="-x -9.0 -y -19.0 -z 0.0 -R 0.0 -P 0.0 -Y 1.57" /> -->
            <arg name="robot_name" value="tb3_0" />
        </include>
    </group>

    <!-- BEGIN ROBOT 2 -->
    <group ns="tb3_1">
        <param name="tf_prefix" value="tb3_1" />
        <include file="$(find tfg)/launch/one_robot.launch" >
            <!-- <arg name="init_pose" value="-x 7.0 -y -1.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" /> -->
            <arg name="init_pose" value="-x -7.0 -y -1.5 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />
            <!-- <arg name="init_pose" value="-x -9.5 -y -19.0 -z 0.0 -R 0.0 -P 0.0 -Y 1.57" /> -->
            <arg name="robot_name" value="tb3_1" />
        </include>
    </group>

    <!-- BEGIN ROBOT 3 -->
    <group ns="tb3_2">
        <param name="tf_prefix" value="tb3_2" />
        <include file="$(find tfg)/launch/one_robot.launch" >
            <!-- <arg name="init_pose" value="-x 0.5 -y 3.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" /> -->
            <arg name="init_pose" value="-x -7.0 -y -2.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />
            <!-- <arg name="init_pose" value="-x -10.0 -y -19.0 -z 0.0 -R 0.0 -P 0.0 -Y 1.57" /> -->
            <arg name="robot_name" value="tb3_2" />
        </include>
    </group>

</launch>
