<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

    <arg name="robot1_name" default="tb3_0"/>
    <arg name="robot2_name" default="tb3_1"/>
    <arg name="robot3_name" default="tb3_2"/>

    <!-- ROBOT 1 -->
    <group ns="$(arg robot1_name)">
        <!-- <param name="tf_prefix" value="$(arg robot1_name)" /> -->
        <include file="$(find tfg)/launch/one_robot_slam.launch" >
            <arg name="robot_name" value="$(arg robot1_name)" />
       </include>
    </group>

    <!-- ROBOT 2 -->
    <group ns="$(arg robot2_name)">
        <!-- <param name="tf_prefix" value="$(arg robot2_name)" /> -->
        <include file="$(find tfg)/launch/one_robot_slam.launch" >
            <arg name="robot_name" value="$(arg robot2_name)" />
        </include>
    </group>


    <!-- ROBOT 3 -->
    <group ns="$(arg robot3_name)">
        <!-- <param name="tf_prefix" value="$(arg robot3_name)" /> -->
        <include file="$(find tfg)/launch/one_robot_slam.launch" >
            <arg name="robot_name" value="$(arg robot3_name)" />
       </include>
    </group>
    

    <include file="$(find tfg)/launch/map_merging.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tfg)/rviz/config.rviz"/>

</launch>

